@import "src/styles/_variables";


div.button {
  cursor: pointer;
  padding: 10px 25px;
  background: $navyblue;
  color: white;
  border-radius: 8px;
  transition: 0.1s ease;
  &:hover {
    background: $hoverblue;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.2);
  }
}

div.Admin {
  background: white;
  nav {
    height: 50px;
    display: grid;
    grid-template-columns: 40px 150px 3fr 1fr 40px;
    background: $navyblue;
    font-weight: 300;
    font-size: 15px;
    span {
      align-self: center;
      font-weight: 300;
      color: $backgroundgrey;
      &.home {
        grid-column: 2;
      }
      &.title {
        grid-column: 3;
      }
      &.auth {
        justify-self: end;
        grid-column: 4;
      }
    }
    div.HomeIcon {
      // background: $hoverblue;
      display: inline-block;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px;
      &:hover {
        background: $hoverblue;
      }
      svg {
        fill: white;
      }
    }
    ::selection {
      background: white;
      color: $orange;
    }
    ::-moz-selection {
      background: none;
      color: $orange;
    }
  }

  div.NewPost {
    background: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    height: 250px;
    padding: 60px 0 70px 0;
  }

  div.Posts {
    margin: 0px 0px;
    ul {
      margin: 0;
      margin-top: 10px;
      padding: 0px 0px 0px 0;
      background: $backgroundgrey;
      // border-radius: 50%;
      // border-top: 1px solid #dee2e8;
      li {
        padding: 0 40px;
        background: $backgroundgrey;
        display: grid;
        grid-template-columns:150px 3fr 1fr;
        position: relative;
        list-style:none;
        border-bottom: 1px solid #dee2e8;

        .date { grid-column: 1; }
        .posts { grid-column: 2; }
        .notifications { grid-column: 3; }
        &.headings {
          border-bottom: 3px solid $darkergrey;
          padding: 12px 40px;
        }
        h3 {
          margin: 0;
          padding: 7px 0 0 0;
          font-weight: 500;
        }
        div.post-content {
          padding: 15px 0;
          h3 {
            padding: 5px 0;
          }
          p {
            line-height: 1.5;
            margin: 0;
            font-size: 15px;
            padding: 5px 0;
          }
        }
        div.create-notification {
          margin-left: 10px;
          display: flex;
          justify-content:flex-start;
          align-items: center;
          div {
            display: inline-block;
            // width: 100px;
          }
        }
      }
    }
  }
  footer {
    div.top {
      margin-top: 0px;
      padding: 120px 0;
      background: $darkergrey;
    }
    div.bottom {
      background: $hoverblue;
      background: #3a3a4f;
      height: 60px;
      opacity: 0.7;
    }
  }
}
div.new-post-modal {
  max-width: 600px;
  width: 80vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  padding: 0 25px 30px 25px;
  div {
    padding: 20px 0 7px 0;
    padding-left: 5px;
  }
  div.upload-post {
    display: flex;
    justify-content: center;
    align-self: center;
    // flex-direction: column;
    div {
      margin-top: 15px;
      cursor: pointer;
      color: white;
      border-radius: 8px;
      padding: 10px 25px;
      // background: $orange;
    }
  }
  input {
    padding: 10px 5px;
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    text-indent: 5px;
    outline: none;
    border-radius: 4px;
    border: 2px solid $darkergrey;
    &:focus{
      border: 2px solid blue;
    }
  }

  // min-width: 600px;
  // min-height: 400px;
  //
  // max-width: 800px;
  // max-height: 500px;
}

// @media only screen and (max-width: 600px) {
//   div.Home {
//     grid-template-columns: 8% auto 8% ;
//     grid-template-rows: 25vh 30% 260px 10% 120px 100px;
//     div.Heading {
//       font-size: 5vw ;
//     }
//   }
// }
// @media only screen and (max-width: 450px) {
//   div.Home {
//     grid-template-rows: 20vh 30% 270px 10% 80px 100px;
//     grid-template-columns: 8% auto 8% ;
//     div.Heading {
//       font-size: 22px ;
//     }
//   }
// }
